div.dokuwiki table.editor {
  border: 0;
  padding: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.editor td {
  padding: 1px 2em 1px 0;
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
}

div.dokuwiki table.editor td.date, div.dokuwiki table.editor td.user {
  color: __text_neu__;
  font-size: 80%;
}